In [1]:
import pandas as pd
import numpy as np

Read the information of players' draft history

Read the information of players draft history

In [2]:
file_path = '~/PycharmProjects/Data-Management-and-Database-Design/Assignment_1/api/raw_data/player_draft_history.csv'
#data_player_draft_history = pd.read_csv('player_draft_history.csv')
data_player_draft_history = pd.read_csv(file_path)
print(data_player_draft_history.head(5))

   Unnamed: 0  PLAYER_ID        PLAYER_NAME  SEASON  ROUND_NUMBER  ROUND_PICK  \
0           0    1629028      Deandre Ayton    2018             1           1
1           1    1628963  Marvin Bagley III    2018             1           2
2           2    1629029        Luka Doncic    2018             1           3
3           3    1628991  Jaren Jackson Jr.    2018             1           4
4           4    1629027         Trae Young    2018             1           5

   OVERALL_PICK     TEAM_ID   TEAM_CITY  TEAM_NAME TEAM_ABBREVIATION  \
0             1  1610612756     Phoenix       Suns               PHX
1             2  1610612758  Sacramento      Kings               SAC
2             3  1610612737     Atlanta      Hawks               ATL
3             4  1610612763     Memphis  Grizzlies               MEM
4             5  1610612742      Dallas  Mavericks               DAL

                     ORGANIZATION   ORGANIZATION_TYPE
0                         Arizona  College/University
1                            Duke  College/University
2  Real Madrid Baloncesto (Spain)     Other Team/Club
3                  Michigan State  College/University
4                        Oklahoma  College/University

Change the first columns into draft id

In [3]:
data_player_draft_history.rename(columns = {data_player_draft_history.columns[0]:'DRAFT_ID'}, inplace=True)

Check the missing of dataset

In [4]:
data_player_draft_history.apply(lambda x: sum(x.isnull()),axis=0)

DRAFT_ID              0
PLAYER_ID             0
PLAYER_NAME           0
SEASON                0
ROUND_NUMBER          0
ROUND_PICK            0
OVERALL_PICK          0
TEAM_ID               0
TEAM_CITY             0
TEAM_NAME             0
TEAM_ABBREVIATION     0
ORGANIZATION         20
ORGANIZATION_TYPE    20
dtype: int64

Find that there are 20 missing data in the ORGANIZATION and ORGANIZATION_TYPE

In [5]:
miss_org = np.where(pd.isnull(data_player_draft_history['ORGANIZATION']))
miss_org

(array([  35,  129, 5812, 5830, 6208, 6968, 6971, 7102, 7256, 7302, 7352,
        7354, 7358, 7363, 7364, 7902, 7913, 7918, 7926, 7930]),)

In [6]:
miss_org_tpye = np.where(pd.isnull(data_player_draft_history['ORGANIZATION_TYPE']))
miss_org_tpye

In [7]:
miss_org[0] == miss_org_tpye[0]

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

Those data who contain missing values are the same

In [8]:
data_player_draft_history.loc[miss_org[0],:]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DRAFT_ID</th>
      <th>PLAYER_ID</th>
      <th>PLAYER_NAME</th>
      <th>SEASON</th>
      <th>ROUND_NUMBER</th>
      <th>ROUND_PICK</th>
      <th>OVERALL_PICK</th>
      <th>TEAM_ID</th>
      <th>TEAM_CITY</th>
      <th>TEAM_NAME</th>
      <th>TEAM_ABBREVIATION</th>
      <th>ORGANIZATION</th>
      <th>ORGANIZATION_TYPE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>35</th>
      <td>35</td>
      <td>1629011</td>
      <td>Mitchell Robinson</td>
      <td>2018</td>
      <td>2</td>
      <td>6</td>
      <td>36</td>
      <td>1610612752</td>
      <td>New York</td>
      <td>Knicks</td>
      <td>NYK</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>129</th>
      <td>129</td>
      <td>1627748</td>
      <td>Thon Maker</td>
      <td>2016</td>
      <td>1</td>
      <td>10</td>
      <td>10</td>
      <td>1610612749</td>
      <td>Milwaukee</td>
      <td>Bucks</td>
      <td>MIL</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>5812</th>
      <td>5812</td>
      <td>80797</td>
      <td>Dick Harris</td>
      <td>1968</td>
      <td>16</td>
      <td>4</td>
      <td>193</td>
      <td>1610612758</td>
      <td>Cincinnati</td>
      <td>Royals</td>
      <td>CIN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>5830</th>
      <td>5830</td>
      <td>80802</td>
      <td>Jay Reffords</td>
      <td>1968</td>
      <td>19</td>
      <td>4</td>
      <td>211</td>
      <td>1610612758</td>
      <td>Cincinnati</td>
      <td>Royals</td>
      <td>CIN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6208</th>
      <td>6208</td>
      <td>80540</td>
      <td>Dave Hicks</td>
      <td>1965</td>
      <td>15</td>
      <td>1</td>
      <td>101</td>
      <td>1610612764</td>
      <td>Baltimore</td>
      <td>Bullets</td>
      <td>BLT</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6968</th>
      <td>6968</td>
      <td>79997</td>
      <td>Ed Romanoff</td>
      <td>1957</td>
      <td>13</td>
      <td>1</td>
      <td>82</td>
      <td>1610612737</td>
      <td>St. Louis</td>
      <td>Hawks</td>
      <td>STL</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6971</th>
      <td>6971</td>
      <td>79949</td>
      <td>Jerry Gibson</td>
      <td>1957</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1610612744</td>
      <td>Philadelphia</td>
      <td>Warriors</td>
      <td>PHW</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7102</th>
      <td>7102</td>
      <td>79867</td>
      <td>Joe Fitt</td>
      <td>1955</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1610612737</td>
      <td>St. Louis</td>
      <td>Hawks</td>
      <td>STL</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7256</th>
      <td>7256</td>
      <td>79746</td>
      <td>John Glinski</td>
      <td>1954</td>
      <td>12</td>
      <td>2</td>
      <td>98</td>
      <td>1610612744</td>
      <td>Philadelphia</td>
      <td>Warriors</td>
      <td>PHW</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7302</th>
      <td>7302</td>
      <td>79658</td>
      <td>Bob Marske</td>
      <td>1953</td>
      <td>7</td>
      <td>0</td>
      <td>0</td>
      <td>1610612744</td>
      <td>Philadelphia</td>
      <td>Warriors</td>
      <td>PHW</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7352</th>
      <td>7352</td>
      <td>79672</td>
      <td>Edward Walsh</td>
      <td>1953</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1610610024</td>
      <td>Baltimore</td>
      <td>Bullets</td>
      <td>BAL</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7354</th>
      <td>7354</td>
      <td>79670</td>
      <td>Don Stemmerich</td>
      <td>1953</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1610610024</td>
      <td>Baltimore</td>
      <td>Bullets</td>
      <td>BAL</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7358</th>
      <td>7358</td>
      <td>79666</td>
      <td>Joe Piorkowski</td>
      <td>1953</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1610610024</td>
      <td>Baltimore</td>
      <td>Bullets</td>
      <td>BAL</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7363</th>
      <td>7363</td>
      <td>79663</td>
      <td>Russ Johnson</td>
      <td>1953</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1610610024</td>
      <td>Baltimore</td>
      <td>Bullets</td>
      <td>BAL</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7364</th>
      <td>7364</td>
      <td>79664</td>
      <td>Bob Kraback</td>
      <td>1953</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1610610024</td>
      <td>Baltimore</td>
      <td>Bullets</td>
      <td>BAL</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7902</th>
      <td>7902</td>
      <td>79286</td>
      <td>Ed Golub</td>
      <td>1947</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1610612752</td>
      <td>New York</td>
      <td>Knicks</td>
      <td>NYK</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7913</th>
      <td>7913</td>
      <td>79278</td>
      <td>Bob Alemeida</td>
      <td>1947</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1610612738</td>
      <td>Boston</td>
      <td>Celtics</td>
      <td>BOS</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7918</th>
      <td>7918</td>
      <td>79281</td>
      <td>George Petrovick</td>
      <td>1947</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1610612738</td>
      <td>Boston</td>
      <td>Celtics</td>
      <td>BOS</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7926</th>
      <td>7926</td>
      <td>79301</td>
      <td>Joe Barry</td>
      <td>1947</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1610610032</td>
      <td>Providence</td>
      <td>Steamrollers</td>
      <td>PRO</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7930</th>
      <td>7930</td>
      <td>79296</td>
      <td>George Brown</td>
      <td>1947</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1610610031</td>
      <td>Pittsburgh</td>
      <td>Ironmen</td>
      <td>PIT</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [9]:
data_player_draft_history.loc[miss_org[0],['ORGANIZATION', 'ORGANIZATION_TYPE']]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ORGANIZATION</th>
      <th>ORGANIZATION_TYPE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>35</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>129</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>5812</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>5830</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6208</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6968</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6971</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7102</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7256</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7302</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7352</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7354</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7358</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7363</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7364</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7902</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7913</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7918</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7926</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7930</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

Change the NaN into 'Unknown'

In [10]:
for i in miss_org[0]:
    data_player_draft_history.loc[i, 'ORGANIZATION'] = 'Unknown'
    data_player_draft_history.loc[i, 'ORGANIZATION_TYPE'] = 'Unknown'
data_player_draft_history.loc[miss_org[0],['ORGANIZATION', 'ORGANIZATION_TYPE']]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ORGANIZATION</th>
      <th>ORGANIZATION_TYPE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>35</th>
      <td>Unknown</td>
      <td>Unknown</td>
    </tr>
    <tr>
      <th>129</th>
      <td>Unknown</td>
      <td>Unknown</td>
    </tr>
    <tr>
      <th>5812</th>
      <td>Unknown</td>
      <td>Unknown</td>
    </tr>
    <tr>
      <th>5830</th>
      <td>Unknown</td>
      <td>Unknown</td>
    </tr>
    <tr>
      <th>6208</th>
      <td>Unknown</td>
      <td>Unknown</td>
    </tr>
    <tr>
      <th>6968</th>
      <td>Unknown</td>
      <td>Unknown</td>
    </tr>
    <tr>
      <th>6971</th>
      <td>Unknown</td>
      <td>Unknown</td>
    </tr>
    <tr>
      <th>7102</th>
      <td>Unknown</td>
      <td>Unknown</td>
    </tr>
    <tr>
      <th>7256</th>
      <td>Unknown</td>
      <td>Unknown</td>
    </tr>
    <tr>
      <th>7302</th>
      <td>Unknown</td>
      <td>Unknown</td>
    </tr>
    <tr>
      <th>7352</th>
      <td>Unknown</td>
      <td>Unknown</td>
    </tr>
    <tr>
      <th>7354</th>
      <td>Unknown</td>
      <td>Unknown</td>
    </tr>
    <tr>
      <th>7358</th>
      <td>Unknown</td>
      <td>Unknown</td>
    </tr>
    <tr>
      <th>7363</th>
      <td>Unknown</td>
      <td>Unknown</td>
    </tr>
    <tr>
      <th>7364</th>
      <td>Unknown</td>
      <td>Unknown</td>
    </tr>
    <tr>
      <th>7902</th>
      <td>Unknown</td>
      <td>Unknown</td>
    </tr>
    <tr>
      <th>7913</th>
      <td>Unknown</td>
      <td>Unknown</td>
    </tr>
    <tr>
      <th>7918</th>
      <td>Unknown</td>
      <td>Unknown</td>
    </tr>
    <tr>
      <th>7926</th>
      <td>Unknown</td>
      <td>Unknown</td>
    </tr>
    <tr>
      <th>7930</th>
      <td>Unknown</td>
      <td>Unknown</td>
    </tr>
  </tbody>
</table>
</div>

In [11]:
data_player_draft_history.apply(lambda x: sum(x.isnull()),axis=0)

DRAFT_ID             0
PLAYER_ID            0
PLAYER_NAME          0
SEASON               0
ROUND_NUMBER         0
ROUND_PICK           0
OVERALL_PICK         0
TEAM_ID              0
TEAM_CITY            0
TEAM_NAME            0
TEAM_ABBREVIATION    0
ORGANIZATION         0
ORGANIZATION_TYPE    0
dtype: int64

Perfect.

Change the order of the dataset and assign new draft id

In [12]:
data_player_draft_history = data_player_draft_history.sort_values(by = ['SEASON','ROUND_NUMBER','ROUND_PICK'] , ascending = True)
data_player_draft_history = data_player_draft_history.reset_index(drop=True)

for i in range (0,data_player_draft_history.shape[0]): 
    data_player_draft_history.iat[i,0] = i+1
    
print(data_player_draft_history.head(10))

   DRAFT_ID  PLAYER_ID     PLAYER_NAME  SEASON  ROUND_NUMBER  ROUND_PICK  \
0         1      78023  Irv Rothenberg    1947             0           0
1         2      78185    Donald Smith    1947             0           0
2         3      77999       Red Rocha    1947             0           0
3         4      79284      Jack Stone    1947             0           0
4         5      78402      Gene Vance    1947             0           0
5         6      77613      Wat Misaka    1947             0           0
6         7      77938   Joseph Reiser    1947             0           0
7         8      76507    Jimmy Darden    1947             0           0
8         9      79285       Ray Evans    1947             0           0
9        10      79286        Ed Golub    1947             0           0

   OVERALL_PICK     TEAM_ID   TEAM_CITY TEAM_NAME TEAM_ABBREVIATION  \
0             0  1610610036  Washington  Capitols               WAS
1             0  1610610025     Chicago     Stags               CHS
2             0  1610610035     Toronto   Huskies               HUS
3             0  1610610025     Chicago     Stags               CHS
4             0  1610610025     Chicago     Stags               CHS
5             0  1610612752    New York    Knicks               NYK
6             0  1610610024   Baltimore   Bullets               BAL
7             0  1610610025     Chicago     Stags               CHS
8             0  1610612752    New York    Knicks               NYK
9             0  1610612752    New York    Knicks               NYK

           ORGANIZATION   ORGANIZATION_TYPE
0  Long Island-Brooklyn  College/University
1             Minnesota  College/University
2          Oregon State  College/University
3          Kansas State  College/University
4              Illinois  College/University
5                  Utah  College/University
6   New York University  College/University
7                Denver  College/University
8                Kansas  College/University
9               Unknown             Unknown

Save the dataset

In [13]:
data_player_draft_history.to_csv('revised_player_draft_history.csv', index=False)
data_player_draft_history.to_csv('~/PycharmProjects/Data-Management-and-Database-Design/Assignment_1/data_process/final_data/draft_history_final.csv', index=False)